<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mapper.AnswerMapper">

	<insert id="insertAnswer">
		insert into ANSWER 
			(answer_year ,answer_date,answer ,public_answer ,question_num ,member_num ) 
		values 
			(#{answer_year},#{answer_date},#{answer},#{public_answer},#{question_num},#{member_num}); 
	
	</insert>
	<insert id="setCount" >
		insert into 
			ANSWER_COUNT
			( member_num, count, question_num ) 
		values 
			( #{member_num}, 1, #{question_num}); 
		
	</insert>
	<!-- 답변이 존재하는지 확인하는 쿼리 -->
	<select id="count" parameterType="com.project.domain.AnswerCountVO" resultType="Object">
		select
			count
		from
			ANSWER_COUNT
		where 
			question_num= #{question_num}
		and
			member_num= #{member_num}
	
	</select>
	
	<select id="selectAnswer" parameterType="hashmap" resultType="com.project.domain.AnswerVO" >
		select 
			*
		from 
			ANSWER 
		where 
			question_num= #{question_num}
		and
			member_num= #{member_num}
		and
			answer_delete = "N"
		order by answer_num DESC
			
		
	</select>
	
	<select id="updateAnswerPage" parameterType="int" resultType="com.project.domain.AnswerVO" >
		select 
			answer_num, answer, public_answer
		from 
			ANSWER 
		where 
			answer_num= #{answer_num}
	</select>
	<select id="readRandomAnswer" parameterType="int" resultType="String">
		select 
			answer
		from 
			ANSWER 
		where 
			public_answer= "Y"
		and
			question_num=#{question_num}
		order by RAND() limit 8		
	</select>
	
	<update id="updateAnswer" >
		UPDATE
			ANSWER 
		SET 
			answer = #{answer}, public_answer= #{public_answer}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="updateDelete" >
		UPDATE
			ANSWER 
		SET 
			answer_delete = "Y", delete_date= #{delete_date}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="publicAnswer" >
		UPDATE
			ANSWER 
		SET 
			public_answer= #{public_answer}
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num};
	</update>
	<update id="updateCountUp" >
		UPDATE
			ANSWER_COUNT 
		SET 
			count=count+1
		WHERE 
			question_num= #{question_num}
		and
			member_num= #{member_num};
	</update>
	<update id="updateCountDown" >
		UPDATE
			ANSWER_COUNT 
		SET 
			count=count-1
		WHERE 
			question_num= #{question_num}
		and
			member_num= #{member_num};
	</update>
	
	<!-- 휴지통전체조회 -->
	<resultMap type="com.project.domain.AnswerCountVO" id="answerMap">
		<result property="answer_num" column="answer_num"/>
		<result property="answer_year" column="answer_year"/>
		<result property="answer_date" column="answer_date"/>
		<result property="answer" column="answer"/>
		<result property="question_num" column="question_num"/>
		<result property="member_num" column="member_num"/>
		<result property="delete_date" column="delete_date"/>
		<result property="answer_delete" column="answer_delete"/>
		<result property="question" column="question"/>
		<!-- <collection property="questionVO" resultMap="questionVO"/> -->
	</resultMap> 
	 <resultMap type="com.project.domain.QuestionVO" id="questionVO"> 
	 	<result property="question" column="question"/>
	 </resultMap>
	
	<!-- <resultMap type="com.samyo.domain.QuestionVO" id="questionVO">
		<result property="question" column="question"/>
	 	<result property="question_num" column="question_num"/> 
	</resultMap> -->

	 <!-- <select id="readTrash" parameterType="int" resultType="com.samyo.domain.AnswerVO"> -->
	 <select id="readTrash" parameterType="int" resultMap="answerMap"> 	
		SELECT 
			q.question, 
			a.answer_num,
			a.answer_year,
			a.answer_date,
			a.answer,
			a.question_num,
			a.member_num,
			a.delete_date,
			a.answer_delete 
		FROM 
			ANSWER a, QUESTION q 
		WHERE 
			a.question_num = q.question_num 
		and 
			a.answer_delete = "Y" 
		and 
			member_num= #{member_num}
		ORDER BY 
			 question_num DESC, answer_num DESC;
			 

	</select>
	<delete id="deleteDateCount" >		
		<![CDATA[
		DELETE FROM 
			ANSWER 
		where
			
			DATEDIFF(CURDATE() , delete_date) >= 7
		AND 
			member_num= #{member_num}
		AND 
			answer_delete="Y";
		]]>
	</delete>
	<update id="trashUpdate" >
		UPDATE
			ANSWER 
		SET 
			answer_delete= "N", delete_date=null, public_answer ="N"
		WHERE 
			answer_num= #{answer_num}
		and
			member_num= #{member_num}
		and
			answer_delete= #{answer_delete};	
	</update>
	
	<delete id="deleteAnswer">
	DELETE FROM 
		ANSWER 
	WHERE 
		member_num= #{member_num}
	and
		answer_num = #{answer_num};

	</delete>
		

</mapper>